{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<p class="text-muted">
    Bienvenue sur le site de réservation du musée du Louvre. Pour entamer une réservation, ou pour consulter vos précédentes réservations, veuillez indiquer votre e-mail.
</p>

<hr class="my-4">

<h1 class="h3 mb-5">
    Votre e-mail
</h1>
{# créer un formulaire symfony ? Problème : à quelle entité le lier ? Réservation ? Si oui, Comment gérer sachant qu'il faut récupérer toutes les personnes liées à toutes les réservations qui contiennent le mail, et qu'il faut, mémoriser le mail, qui n'est qu'une part des infos des réservations ? Sinon : créer formulaire php, et garder formulaire symfony pour la suite ? Peut être plutôt ça en effet. #}

<form action="{{ path("menu") }}" method="post" class="text-center">
    <input type="text" name="mail" id="mail" placeholder="votre adresse mail" style="width:100%"><br />
    <input type="submit" value="Validez votre mail" class="btn btn-primary mt-4">
</form>

{# transformer en simple bulle d'info si le visiteur clique sur un petit "i" ?
<p class="alert alert-info mt-5">
    Pourquoi demander votre e-mail ? Afin de préremplir vos nouvelles réservations et de retrouver vos précédentes si elles existent, ou de préparer votre première réservation dans le cas contraire, merci d'entrer votre mail.
</p>#}

{% endblock %}
