{% extends 'base.html.twig' %}

{% block title %}réserver ou consulter{% endblock %}

{% block body %}

{# <img src="{{asset('image/musee.jpg')}}" alt="louvre" /> #}
<h1 class="h3 mb-5">
    Que souhaitez vous faire ?
</h1>
<div class="row">
    <div class="col text-center">
        <a href="{{ path('booking_filling_form') }}" class="btn btn-primary">
            Nouvelle réservation
        </a>
    </div>
    <div class="col text-center">
        <a href="{{ path('checking_index') }}" class="btn btn-primary">
            Consulter les précédentes réservations
        </a>
    </div>
</div>

{% endblock %}
