{# after payment, present a success or failure message #}

{% extends 'base.html.twig' %}

{% block title %}paiement{% endblock %}

{% block body %}

    {% if success %}
        <p>La réservation s'est correctement déroulée. Vous allez recevoir un mail à l'adresse {{ mail }}</p>
    {% else %}
        <p>La réservation a échouée. Vous ne serez pas débités.</p>
    {% endif %}

{% endblock %}