{% extends 'base.html.twig' %}

{% block title %}renvoie du mail{% endblock %}

{% block body %}

    <p>Un nouveau mail contenant les billets vous a été envoyé à l'adresse {{ mail }}. Si vous ne recevez rien, vérifiez vos messages indésirables, et attendez quelques minutes. Si vous ne recevez toujours rien, redemandez un renvoie des billets par mail.</p>

{% endblock %}